In [21]:
# first n prime numbers

n=int(input("enter n:"))
count=0
num=2
while count<n:
    for i in range(2,num):
        if num%i==0:
            break
    else:
        print(num,end=" ")
        count+=1
    num+=1

enter n: 25

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [39]:
# 1/1! + 2/2! + 3/3! + 4/4! + ... N/N!

n=int(input("enter n:"))
total=0
fact=1
for i in range(1,n+1):
    fact*=i
    total+=i/fact
print(total)

enter n: 5

2.708333333333333

In [37]:
n = int(input("Enter n: "))
fact = 1
sum = 0

for i in range(1, n + 1):
    fact = fact * i
    sum = sum + (i / fact)

print("Sum of series:", sum)

Enter n:  5

Sum of series: 2.708333333333333

In [49]:
# Q3: Employees question

n=int(input("enter n:"))
total_emp_sal=0
for i in range(1,n+1):
    basic=int(input("enter basic salary for employees:"))
    if basic<=20000:
        da=basic*0.10
        ta=basic*0.12
        hra=basic*0.15
    else:
        da=basic*0.15
        ta=basic*0.18
        hra=basic*0.20

    total_salary=basic+da+ta+hra
    total_emp_sal+=total_salary

    print("Total salary of emp",i,"is:",total_salary)
print("Total Salary of all employees is:",round(total_emp_sal),2)

enter n: 3
enter basic salary for employees: 20000

Total salary of emp 1 is: 27400.0

enter basic salary for employees: 20001

Total salary of emp 2 is: 30601.530000000002

enter basic salary for employees: 20002

Total salary of emp 3 is: 30603.06
Total Salary of all employees is: 88605 2

In [53]:
# pattern printing

# 1 0 1 0 1
# 0 1 0 1 0
# 1 0 1 0 1
# 0 1 0 1 0
# 1 0 1 0 1

for i in range(5):
    for j in range(5):
        if (i+j)%2==0:
            print("1",end=" " )
        else:
            print("0",end=" ")
    print()

1 0 1 0 1
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0
1 0 1 0 1