In [2]:
print("Hi")

Hi

In [10]:
l=[1,2,3,4,5,5]
total=0
for i in l:
    total+=i
print(total)

20

In [34]:
ll=[5,4,3,6,8,3,8,10,9,6,3]
ll=list(set(ll))
ll.sort()
print(ll[-2])

9

In [82]:
lst=[9,8,8,8,7,6,5]
rev=lst[::-1]
rev

[5, 6, 7, 8, 8, 8, 9]

In [84]:
lst
num=8
if num in lst:
    print("Yes")
    print(lst.count(key))
else:
    print("not present")

Yes
3

In [92]:
ls=[1,2,3,4,5,6]
cube_lst=[]
for num in ls:
    cube_lst.append(num**3)
cube_lst

[1, 8, 27, 64, 125, 216]

In [94]:
lss=[1,2,3,4,5,6,7,8,9,10]
even=[]
odd=[]
for num in lss:
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)
print(even)
print(odd)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [98]:
nums=[1,2,3,3,3,4,5,6]
key=3
nums=[i for i in nums if i!=key]
nums

[1, 2, 4, 5, 6]

In [100]:
numss=[10,20,30,40,50,60,70]
m=5
n=4
res=[]
for i in numss:
    if i%m==0 and i%n==0:
        res.append(i)
print(res)

[20, 40, 60]

In [110]:

squares=[]
cubes=[]
for num in ls:
    squares.append(num**2)
    cubes.append(num**3)
print(squares)
print(cubes)

[1, 4, 9, 16, 25, 36]
[1, 8, 27, 64, 125, 216]

In [116]:
lss
final=[]
for n in lss:
    if n%2!=0:
        final.append(n)
final

[1, 3, 5, 7, 9]

In [136]:
l1=[1,2,3,8,9]
l2=[4,7,6,11,0]

newList=l1+l2
newList.sort()
print(newList)

[0, 1, 2, 3, 4, 6, 7, 8, 9, 11]

In [138]:
lst = [[1, 3], [4, 1], [2, 2], [5, 0]]

lst.sort(key=lambda x: x[1])
print("Sorted List:", lst)

Sorted List: [[5, 0], [4, 1], [2, 2], [1, 3]]

In [154]:
lst=[4,3,6,7,1,8,3,2,19,20]
n=len(lst)
for i in range(n):
    for j in range(n-i-1):
        if lst[j]>lst[j+1]:
            lst[j],lst[j+1]=lst[j+1],lst[j]
print("second:",lst[-2])

second: 19

In [162]:
lst=["Ro","Roshan","Rosha","Rosh","R"]
lst.sort(key=len)
lst

['R', 'Ro', 'Rosh', 'Rosha', 'Roshan']

In [166]:
union=list(set(l1) | set(l2))
union

[0, 1, 2, 3, 4, 6, 7, 8, 9, 11]

In [172]:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]

intersection = list(set(list1) & set(list2))
print("Intersection:", intersection)

Intersection: [3, 4]

In [187]:
num = 1

for row in range(10):
    line = []
    for col in range(10):
        line.append(num)
        num += 1

    if row % 2 != 0:
        line.reverse()

    print(line)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11]
[21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
[40, 39, 38, 37, 36, 35, 34, 33, 32, 31]
[41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
[60, 59, 58, 57, 56, 55, 54, 53, 52, 51]
[61, 62, 63, 64, 65, 66, 67, 68, 69, 70]
[80, 79, 78, 77, 76, 75, 74, 73, 72, 71]
[81, 82, 83, 84, 85, 86, 87, 88, 89, 90]
[100, 99, 98, 97, 96, 95, 94, 93, 92, 91]

In [193]:
# strings

word="BANANA"
s=word.replace('A',' @ ')
print(s)

B @ N @ N @

In [205]:
word="python"
n=2
result=""
for i in range(len(word)):
    if i !=n:
        result+=word[i]
print(result)

pyhon

In [215]:
s1="RosHan"
s2="oSRhna"
if sorted(s1.lower())==sorted(s2.lower()):
    print("Anagrams")
else:
    print("Not anagrams")

Anagrams

In [225]:
# exchange first and last letter of a word.
s="roshan"
result=s[-1]+s[1:-1]+s[0]
print(result)

noshar

In [231]:
word="education"
vowels=0
consonants=0

for ch in word:
    if ch=="a" or ch=="e" or ch=="i" or ch=="o" or ch=="u":
        vowels+=1
    else:
        consonants+=1
print("Vowels:",vowels)
print("Consonants:",consonants)

Vowels: 5
Consonants: 4

In [236]:
s="My name is Roshan"
ans=s.replace(" ","-")
print(ans)

My-name-is-Roshan

In [238]:
s="Roshan"
length=0

for _ in s:
    length+=1
print(length)

6

In [246]:
s="ThisIsPythonProgramming"
res=""
for i in range(len(s)):
    if i%2==0:
        res+=s[i]
print(res)

TiIPtoPormig

In [252]:
s="Python is best"
words=s.split()
print(len(s))
print(len(words))

14
3

In [264]:
s1="Roshannn"
s2="Chimane"

l1=l2=0
for _ in s1:
    l1+=1
for _ in s2:
    l2+=1

if l1>l2:
    print("s1 is greater")
elif l2>l1:
    print("s2 is greater")
else:
    print("Both equal")

s1 is greater

In [268]:
s="python is used for data science"
result=""
for i in s:
    if i==" ":
        result+="-"
    else:
        result+=i

print(result)

python-is-used-for-data-science

In [278]:
s="RosHann"
count =0
for ch in s:
    if ch.islower():
        count+=1
    
print(count)

5

In [284]:
s="Roshan45"
digit=0
alphabets=0
for i in s:
    if i.isalpha():
        alphabets+=1
    if i.isdigit():
        digit+=1
print("Digits:",digit)
print("Alphabets:",alphabets)

Digits: 2
Alphabets: 6

In [5]:
s="Python is a famous language Python"
words=s.split()
for w in set(words):
    print(w,":",words.count(w))

Python : 2
is : 1
famous : 1
a : 1
language : 1

In [17]:
s1="Roshan"
s2="Chimane"

l1=l2=0
for _ in s1:
    l1+=1
for _ in s2:
    l2+=1

if l1>l2:
    print("s1 has",l1,"characters")
else:
    print("s2 has",l2,"characters")

s2 has 7 characters

In [19]:
# dictionary

In [39]:
dict={'name':"Roshan","Age":"21"}
print((dict))

{'name': 'Roshan', 'Age': '21'}

In [47]:
dict={'name':"Roshan","Age":"21","Education":"B.Tech"}
key="Education"

if key in dict:
    print("Yes")
else:
    print("No")

Yes

In [49]:
n=5
d={}
for i in range(1,n+1):
    d[i]=i*i

print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [61]:
dict={"1":100,"2":200,"3":300}
total=0

for i in dict.values():
    total+=i
print(total)

600

In [69]:
dictt={"1":10,"2":20,"3":30}
total=1

for val in dictt.values():
    total*=val
print(total)

6000

In [71]:
d={"a":10,"b":20,"c":30,"d":40}
key="b"

if key in d:
    del d[key]

print(d)

{'a': 10, 'c': 30, 'd': 40}

In [7]:
s="Python is easy and famous is and python"
s1=s.split()
freq={}
for word in s1:
    if word in freq:
        freq[word]+=1
    else:
        freq[word]=1
print(freq)

{'Python': 1, 'is': 2, 'easy': 1, 'and': 2, 'famous': 1, 'python': 1}

In [9]:
# sets

In [11]:
set1={1,2,3,4,5}
set2={4,5,1}

result=set1-set2
print(result)

{2, 3}

In [13]:
set1={1,2,3,4,5,6}
set2={4,2,1,3}

set1=set1-set2
print(set1)

{5, 6}

In [25]:
lst=["apple","apple","Banana","Grapes","apple","Grapes"]
unique=set(lst)
for word in unique:
    print(word,":",lst.count(word))

Grapes : 2
apple : 3
Banana : 1

In [28]:
lst=[2,1,3,4,2,5,1]
target=6
pairs=set()
for i in range(len(lst)):
    for j in range(i+1,len(lst)):
        if lst[i]+lst[j]==target:
            pairs.add((lst[i],lst[j]))

print(pairs)

{(2, 4), (5, 1), (4, 2), (1, 5)}

In [32]:
lst=[9,2,6,3,1,5,4]
s=set(lst)

maxProduct=0
pair=()
for i in s:
    for j in s:
        if i!=j and i*j>maxProduct:
            maxProduct=i*j
            pair=((i,j))

print(pair)

(6, 9)

In [34]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7}

print("Missing in second set:", set1 - set2)
print("Missing in first set:", set2 - set1)

Missing in second set: {1, 2, 3}
Missing in first set: {6, 7}

In [44]:
lst=[1,2,3,4,5,6,7,8]
key=12
pair=set()
for i in range(len(lst)):
    for j in range(i+1,len(lst)):
        for k in range(j+1,len(lst)):
            if lst[i]+lst[j]+lst[k]==key:
                pair.add(tuple(sorted((lst[i],lst[j],lst[k]))))
print(pair)

{(1, 3, 8), (1, 4, 7), (1, 5, 6), (3, 4, 5), (2, 3, 7), (2, 4, 6)}